
<!DOCTYPE html>

<html lang="kr">
    <head>

        
        

            
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
        
        <% } %>
        <link href="https://playentry.org/lib/entry-tool/dist/entry-tool.css" rel="stylesheet"/>

        <link rel="stylesheet" type="text/css" href="/modal.css">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        
    </head>
    
   


    
    <body>

        
        <section>
                <br>
            <Div style="height: auto; width: 1800px; margin:auto; padding: 10px;" >          
                           <!--
                <a href="http://127.0.0.1:8080/?stage=1" class="btn">처음 스테이지</a>
                <a href="http://127.0.0.1:8080/?stage=2" class="btn">다음 스테이지</a> -->
                <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
                <link rel="stylesheet" href="src/css/m.css"> 
                <link rel="stylesheet" href="src/css/modal.css"> 
                <script src="../entry-tool/dist/entry-tool.js"></script>
                &nbsp;<button class="btn" id="btn" type="submit"><img class="btn-img" src="../images/media/HAGO.png"width="200" height="80" onclick="location.href='https://codinghago.imweb.me/index?preview_mode=1'"></button>
                 
                
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=1'" class="learn-more">stage.1</button> &nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=2'" class="learn-more">stage.2</button> &nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.3</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.4</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.5</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.6</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.7</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.8</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?stage=3'" class="learn-more">stage.9</button>&nbsp; &nbsp;
                <button type="button" onclick="location.href='http://127.0.0.1:8080/?make.stage=10'" class="learn-more">stage.10</button>
                <!--<button type="button" onclick="location.href='http://127.0.0.1:8080/physics/demo/physics.html#avalanche'" class="learn-more">물리엔진</button>-->
           
            
            </Div>
            
            <Br>
            <!--
            <button style="border: 1px solid black" onclick="changeWorkspaceMode('block')">블럭 모드</button> 
            <button style="border: 1px solid black" onclick="changeWorkspaceMode('python')">Python Mode</button>
            -->
          
         
           
        </section>
        <section class="wrapper">
            <div id="workspace"></div>
        </section>
        <!--language-->
        <script src="../extern/lang/ko.js"></script>

        <script type="text/javascript" src="https://playentry.org/lib/entry-tool/dist/entry-tool.js"></script>
         <script type="text/javascript" src="https://playentry.org/lib/PreloadJS/lib/preloadjs-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/EaselJS/lib/easeljs-0.8.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/SoundJS/lib/soundjs-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/SoundJS/lib/flashaudioplugin-0.6.0.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/lodash/dist/lodash.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/velocity/velocity.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/hint/show-hint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/lint/lint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/selection/active-line.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/codemirror/addon/hint/javascript-hint.js"></script>
        <script type="text/javascript" src="https://playentry.org/js/jshint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/fuzzy/lib/fuzzy.js"></script>
        <script type="text/javascript" src="https://playentry.org/js/textmode/python/python.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/filbert.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/CanvasInput.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/ndgmr.Collision.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/handle.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-js/extern/util/bignumber.min.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/socket.io-client/socket.io.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/react/react.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/react/react-dom.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/entry-lms/dist/assets/app.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/literallycanvas-mobile/lib/js/literallycanvas.js"></script>
       
        <script type="text/javascript" src="../entry-tool/src/components/popup/Sample.jsx"></script>

      

        <script src="../extern/util/static.js"></script>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
    

        <script>

            function changeWorkspaceMode(mode) {
                const option = {};

                if (mode === 'block') {
                    option.boardType = Entry.Workspace.MODE_BOARD;
                    option.textType = -1;
                } else {
                    option.boardType = Entry.Workspace.MODE_VIMBOARD;
                    option.textType = Entry.Vim.TEXT_TYPE_PY;
                    option.runType = Entry.Vim.WORKSPACE_MODE;
                }

                const workspace = Entry.getMainWS();

                if (workspace) {
                    workspace.setMode(option);
                } else {
                    console.error('entry workspace not found!');
                }
            };
        </script>

        

 
        
        </div>
        
        <!--main script-->
        <script>
            window.PUBLIC_PATH_FOR_ENTRYJS = 'lib/entry-js/dist/';
            $(document).ready(function() {
                var initOption = {
                    type: 'workspace',
                    textCodingEnable: true,
                };
                Entry.init(document.getElementById('workspace'), initOption);
                Entry.loadProject();
            });
          
        </script>

        </script>

        <!-- Trigger/Open The Modal -->
    
        
        
        <!-- The Modal & next stage_script -->
        <script>
            var now_link = window.location.href.split("stage=")
            var next_num = Number(now_link[1])+1;
            var next_stage = now_link[0]+'stage='+ next_num;
        </script>

        <div id="myModal" class="modal">
 
            <!-- Modal content -->
            <div class="modal-content" style="width: 50%;height: 60%;margin-top: 10em">
                <span class="close">&times;</span>
                <table border="0" style="text-align: center">
	                <tr>
	                    <td colspan="2"><br><h1>스테이지 클리어!</h1><br></td>
	                </tr>
	                <tr>
	                    <td colspan="2"><img src="/images/media/test_ing.png" alt width="420" height="auto">    </td>
	                </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary" id="Btn_back" style="font-weight: 600;padding: 0.4em;width: 150px;height: 50px" onclick="location.href=now_link[0]+'stage='+now_link[1]" >retry</button></td>
                        <td><button type="button" class="btn btn-primary" id="Btn_next" style="font-weight: 600;padding: 0.4em;width: 150px;height: 50px" onclick="location.href=next_stage">NEXT</button></td>

                    </tr>
                </table>
            </div>
 
        </div>
        
        
        <script src="/src/class/modal.js"></script>

    </body>
</html>
